html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#boton-logout {
    border: 1px solid #E74C3C;
    border-radius: 999px;
    color: white;
    background-color: #E74C3C;
    outline: none;
    padding: 5px;
}

#boton-logout:hover {
    border: 1px solid red;
    border-radius: 25px;
    color: #E74C3C;
    background-color: white;
}