html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a{
    text-decoration: none;
}

.button-1 {
    background-color: #4DA6FF;
    color: white;
}


    .button-1:hover {
        border: 1px solid #4DA6FF;
        background-color: white;
        color: #4DA6FF;
    }

.button-2 {
    background-color: #FF050F;
    color: white;
}
    .button-2:hover {
        border: 1px solid #FF050F;
        background-color: white;
        color: #FF050F;
    }

.back-button{
    border: 1px solid blue;
    color: dodgerblue;

}