@page "/api2"
@model TechOilFront.Pages.Api2Model
@{
	ViewData["Title"] = "Pagina de Api 2";
}
<body>
	<h1 class="title"> Página API 2</h1>
	<a asp-page="Index">
		<button type="button" class="btn back-button">
			Volver
		</button>
	</a>
</body>