@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Página Principal</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipiscing, elit ligula sapien eget purus, diam orci habitasse ultricies tortor. Pellentesque nibh torquent cum nec dui tortor curae, accumsan natoque rutrum nullam neque suspendisse, tristique donec justo quisque lobortis aenean. Rhoncus vulputate nascetur fames taciti mauris ultrices dictumst odio, ridiculus auctor euismod suspendisse est parturient libero massa, dui senectus nunc enim curabitur ut eu.

        Taciti quisque nostra magna ridiculus turpis pulvinar, maecenas placerat proin egestas nam, inceptos dis massa cursus bibendum. Magna varius phasellus condimentum etiam ad a, nisl sociosqu rhoncus ornare vehicula. Tincidunt vestibulum pretium odio maecenas libero taciti tempus luctus iaculis mollis mauris, viverra erat sapien phasellus tempor ac risus condimentum ligula dictum aptent elementum, bibendum parturient facilisis cum nec duis turpis fusce tristique non.
    </p>

    <a asp-page="Products">
        <button type="button" class="btn button-1">
            Lista de Productos
        </button>
    </a>
    <a asp-page="Api2">
        <button type="button" class="btn button-2">
            API 2
        </button>
    </a>
</div>
