@page
@model TechOilFront.Pages.ProductsModel
@{ViewData["Title"] = "Productos";}


<h1 class="title">@ViewData["Title"]</h1>
<a asp-page="Index">
	<button type="button" class="btn back-button">
		Volver
	</button>
</a>
<p>
	@foreach (var product in Model.Products)
	{
		@product.title
	}
	A
</p>